Quix__Sdk__Token=

input=trace-ingest-requests
output_pt_can=test-vectors-pt-can-100hz
output_radar_obj=test-vectors-radar-obj-50hz
output_hmi=test-vectors-hmi-10hz
output_sim_ref=test-vectors-sim-ref-100hz
output_completed=trace-ingest-completed

CONSUMER_GROUP=mf4-extractor
AUTO_OFFSET_RESET=earliest
COMMIT_EVERY=1
COMMIT_INTERVAL=5

TM_BLOB_BACKEND=auto
TM_BLOB_LOCAL_ROOT=
Quix__BlobStorage__Connection__Json=

LOGLEVEL=INFO
