Quix__Sdk__Token=

input_test_results=test-results
input_run_summaries=run-summaries
input_trace_completed=trace-ingest-completed
input_config_events=config-events
input_report_completed=report-completed

MONGO_HOST=mongodb:27017
MONGO_USER=admin
MONGO_PASSWORD=
MONGO_DB_NAME=testmanager

CONSUMER_GROUP=mongo-writer
AUTO_OFFSET_RESET=earliest
BATCH_SIZE=200
COMMIT_INTERVAL=10

LOGLEVEL=INFO
